*{
	margin: 0;
	padding: 0;
}
.menu{
	text-align: center;
	font-family: sans-serif;
	font-style: bold;
	margin-top: 80px;
	
}
.container{
	margin-top: 5%;
	position: relative;
	margin: 20px;

}

.chicken{
    margin: 8px;
    margin-left: 1%;
	border: 4px solid black;
	padding: 5px;
	box-sizing: border-box;
	width: 30%;
	background-color: #ffbe0b;
	position: absolute;
}
.beef{
	margin: 8px;
	border: 4px solid black;
	padding: 5px;
	box-sizing: border-box;
	width: 30%;
	background-color: #00a896;
	position: absolute;
	margin-left: 35%;
	float: right;
	
	



}
.seafood{
	margin: 8px;
	border: 4px solid black;
	padding: 5px;
	box-sizing: border-box;
	width: 30%;
	background-color: #ee6c4d;
	position: absolute;
	margin-left: 69%;
	
	

}
@media(min-width: 768px) and (max-width: 991px){
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
    .col-md-11, .col-md-12
    	
  
    .col-md-1{
    	width: 8.33%;
    }
    .col-md-2{
    	width: 16.66%;
    }
    .col-md-3{
    	width: 25%;
    }
    .col-md-4{
    	width: 33%;
    }
    .col-md-5{
    	width: 41.66%;
    }
    .col-md-6{
    	width: 50%;
    }
    .col-md-7{
    	width: 58.33%;
    }
    .col-md-8{
    	width: 66.66%
    }
    .col-md-9{
    	width: 74.99%;
    }
    .col-md-10{
    	width: 83.33%;
    }
    .col-md-11{
    	width: 91.66%;
    }
    .col-md-12{
    	width: 100%;
    }
	.chicken{
		
		width: 30%;
		margin-left: 20%;
		position: absolute;

	}
	.beef{
		
		width: 30%;
		position: absolute;
		margin-left: 52%;


	}
	.seafood{
		margin-top: 32%;
		width:62%;
		margin-left: 20%;
		margin-right: 60%;
		position: absolute;
	
	}

}
@media(min-width:992px;) and (max-width: -){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,
    .col-lg-11, .col-lg-12{
    	float: left;
    }
    
    .col-lg-1{
    	width: 8.33%;
    }
    .col-lg-2{
    	width: 16.66%;
    }
    .col-lg-3{
    	width: 25%;
    }
    .col-lg-4{
    	width: 33%;
    }
    .col-lg-5{
    	width: 41.66%;
    }
    .col-lg-6{
    	width: 50%;
    }
    .col-lg-7{
    	width: 58.33%;
    }
    .col-lg-8{
    	width: 66.66%
    }
    .col-lg-9{
    	width: 74.99%;
    }
    .col-lg-10{
    	width: 83.33%;
    }
    .col-lg-11{
    	width: 91.66%;
    }
    .col-lg-12{
    	width: 100%;
    }

}
@media(min-width: -) and (max-width: 767px){
	.col-sd-1, .col-sd-2, .col-sd-3, .col-sd-4, .col-sd-5, .col-sd-6, .col-sd-7, .col-sd-8, .col-sd-9, .col-sd-10,
    .col-sd-11, .col-sd-12{
    	float: left;
    }
	.chciken{
		margin: 0px;
		position: relative;
		float: left;
		width: 70%;
	}
	.beef{
		float: left;
		position: absolute;
		width: 70%
		margin: 0px;
	}
	.seafood{
		float: left;
		margin:0px;
		position: absolute;
	}
}
.chicken h2{
	border: 2px solid;
	padding: 4px;
	box-sizing: content-box;
	position: relative;
	margin-left: 60%;
	text-align: center;
	background-color: #1C241A;
	color: #ffffff;

}

.beef h2{
	border: 2px solid;
	padding: 4px;
	box-sizing: content-box;
	position: relative;
	margin-left: 60%;
	text-align: center;
	background-color: #80387C;
	color: #ffff;
}
.seafood h2{
	border: 2px solid;
	padding: 4px;
	box-sizing: content-box;
	position: relative;
	margin-left: 60%;
	text-align: center;
	background-color: #AFA0A4;
	color: #ffff;
}
© 2020 GitHub, Inc.